<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Results - douban - pyspider</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="description" content="results of douban">
    <meta name="author" content="binux">
    <link href="//cdnjscn.b0.upaiyun.com/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/result.css" rel="stylesheet">

    <script src="//cdnjscn.b0.upaiyun.com/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdnjscn.b0.upaiyun.com/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="top-bar">
      <h1>douban - Results</h1>
      <div class="btn-group">
        <a href="/results/dump/douban.json"
          target="_blank" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-download-alt"></span>
          JSON</a>
        <a href="/results/dump/douban.txt"
          target="_blank" class="btn btn-default btn-sm">URL-JSON</a>
        <a href="/results/dump/douban.csv"
          target="_blank" class="btn btn-default btn-sm">CSV</a>
      </div>
    </div>
    <table class="table table-condensed table-striped">
      <thead>
        <th>url</th>
        <th></th>
        <th>
          city
        </th>
        <th>
          mcid
        </th>
        <th>
          place
        </th>
        <th>
          price
        </th>
        <th>
          time
        </th>
        <th>
          title
        </th>
        <th>
          url
        </th>
        <th>
          ...
        </th>
      </thead>
      <tbody>
        <tr>
          <td>
            <a class=url href="/task/douban:bdb66d04c59715b803f37d1a7d57f22c" target=_blank>http://www.douban.com/event/22859547/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22859547/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;公益&#34;</td>
          <td>&#34;郑州 金水区 中州大道与农业东路交叉口，河南整形美容医院&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;10月20日 ~ 10月31日 每天08:30-20:00&#34;]</td>
          <td>&#34;10元美丽暖冬公益行=爱心+千元美丽项目&#34;</td>
          <td>&#34;http://www.douban.com/event/22859547/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:ea29a523e2479b3281d2585dcda391d6" target=_blank>http://www.douban.com/event/22868049/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22868049/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;聚会-交友&#34;</td>
          <td>&#34;郑州 二七区 二七区&#34;</td>
          <td>[&#34;50元(AA)&#34;]</td>
          <td>[&#34;10月22日 ~ 2015年01月19日 每天18:00-22:00&#34;]</td>
          <td>&#34;相约晚餐&#34;</td>
          <td>&#34;http://www.douban.com/event/22868049/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:79e46369017db8262ca16d11631ac657" target=_blank>http://www.douban.com/event/22849764/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22849764/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;聚会-交友&#34;</td>
          <td>&#34;郑州 金水区 农业路与花园路交叉口向南路西 国贸新领地3号楼2单元2511室&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;10月25日 ~ 11月30日 每周六、日 09:30-18:00&#34;]</td>
          <td>&#34;读书人，站出来！&#34;</td>
          <td>&#34;http://www.douban.com/event/22849764/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:e3244eba80fb65a22f3d29ba4c99aff3" target=_blank>http://www.douban.com/event/22847784/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22847784/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;讲座&#34;</td>
          <td>&#34;郑州 金水区 风雅颂·天骄学府南区&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;10月19日 ~ 12月16日 每周三、六、日 08:00-19:00&#34;]</td>
          <td>&#34;古琴免费体验课程（需提前电话预约）&#34;</td>
          <td>&#34;http://www.douban.com/event/22847784/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:bcec6ae09d456d47ba851975852d4f57" target=_blank>http://www.douban.com/event/22847103/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22847103/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;聚会-摄影&#34;</td>
          <td>&#34;郑州 二七区 地点具体商议&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;10月19日 ~ 11月30日 每周二至周日 09:00-21:00&#34;]</td>
          <td>&#34;刺毛约片-你的故事 我很在意&#34;</td>
          <td>&#34;http://www.douban.com/event/22847103/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:0d36e674c95157c30bd259125537cc5c" target=_blank>http://www.douban.com/event/22406743/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22406743/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;聚会-外语&#34;</td>
          <td>&#34;郑州 金水区 国贸&#34;</td>
          <td>[&#34;25元(饮品费)&#34;]</td>
          <td>[&#34;08月23日 ~ 10月31日 每周日 16:00-18:00&#34;]</td>
          <td>&#34;Hi-Learning主题分享英文沙龙&#34;</td>
          <td>&#34;http://www.douban.com/event/22406743/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:d0a11092248ed7a72fb9cd95005c304c" target=_blank>http://www.douban.com/event/22405487/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22405487/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;展览&#34;</td>
          <td>&#34;郑州 金水区 郑州市金水区经六路纬一路口向北150米路东&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;08月24日 ~ 11月16日 每天14:00-22:00&#34;]</td>
          <td>&#34;臺灣紙箱王清境農場主題百日特展&#34;</td>
          <td>&#34;http://www.douban.com/event/22405487/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:edbdcaaaeb829287d1086d8e5454e63e" target=_blank>http://www.douban.com/event/22390130/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22390130/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;聚会-摄影&#34;</td>
          <td>&#34;郑州 金水区 曼哈顿商业广场&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;08月19日 ~ 10月31日 每天08:00-20:00&#34;]</td>
          <td>&#34;免费拍摄。&#34;</td>
          <td>&#34;http://www.douban.com/event/22390130/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:808ad6203da66b8c5b6a1959bd036ff9" target=_blank>http://www.douban.com/event/22381364/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22381364/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;公益&#34;</td>
          <td>&#34;郑州 金水区 地址：花园路与广电路交叉口南100米路东河南省农业广播电视学校内&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;08月20日 ~ 10月29日 每周三 19:00-21:00&#34;]</td>
          <td>&#34;如何看到孩子的内在需要&#34;</td>
          <td>&#34;http://www.douban.com/event/22381364/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:6a4e663ffa1f36a15932a00e27361733" target=_blank>http://www.douban.com/event/22355961/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22355961/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;展览&#34;</td>
          <td>&#34;郑州 中原区 陇海路桐柏路口凯旋门大厦A座1502&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;08月14日 ~ 10月31日 每周一至周六 09:30-17:30&#34;]</td>
          <td>&#34;郑州智能家居体验中心 邀您免费享受智慧生活&#34;</td>
          <td>&#34;http://www.douban.com/event/22355961/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:5eced9115b47b5f77ada40f22bf78403" target=_blank>http://www.douban.com/event/22326539/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22326539/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;聚会-交友&#34;</td>
          <td>&#34;郑州 金水区 政六街14号院北院（政六街红专路向南100米路东）2号楼2单元1楼电话：18638660733&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;08月17日 ~ 10月31日 每周日 15:00-18:00&#34;]</td>
          <td>&#34;《红楼梦》精读活动&#34;</td>
          <td>&#34;http://www.douban.com/event/22326539/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:a50cb49c92fa92145e691e40d29692f1" target=_blank>http://www.douban.com/event/22703248/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22703248/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;聚会-交友&#34;</td>
          <td>&#34;郑州 二七区 二环支路 瑞光路 创意工厂&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;09月26日 ~ 12月23日 每天09:00-23:00&#34;]</td>
          <td>&#34;#请你转身#I WANT YOU&#34;</td>
          <td>&#34;http://www.douban.com/event/22703248/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:d18b9445288a6922410976317bce51db" target=_blank>http://www.douban.com/event/22684407/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22684407/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;聚会-生活&#34;</td>
          <td>&#34;郑州 中原区 郑州市任意地点&#34;</td>
          <td>[&#34;1000元(学费)&#34;]</td>
          <td>[&#34;10月06日 ~ 10月30日 每天09:00-17:00&#34;]</td>
          <td>&#34;【大树的写真零基础小课堂】相机的使用，Photoshop基础&#34;</td>
          <td>&#34;http://www.douban.com/event/22684407/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:f654835fd479da11de1a038132240c0a" target=_blank>http://www.douban.com/event/22683557/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22683557/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;公益&#34;</td>
          <td>&#34;郑州 中原区 火车站&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;09月23日 ~ 12月20日 每天08:00-23:30&#34;]</td>
          <td>&#34;【悠然•山角】如果厌倦，就来山角和我们一起生活吧（北京•香山）&#34;</td>
          <td>&#34;http://www.douban.com/event/22683557/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:e8b081af5c4d4572123a885f83de216b" target=_blank>http://www.douban.com/event/22682166/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22682166/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;戏剧-舞剧&#34;</td>
          <td>&#34;郑州 金水区 天一大厦A座1316&#34;</td>
          <td>[&#34;100元　200元　300元　400元&#34;]</td>
          <td>[&#34;10月12日 ~ 2015年01月01日 每天08:00-23:00&#34;]</td>
          <td>&#34;《熊出没》之缤纷王座郑州站儿童剧演出&#34;</td>
          <td>&#34;http://www.douban.com/event/22682166/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:6186ce10909edbe1709cd0183ffc87aa" target=_blank>http://www.douban.com/event/22655976/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22655976/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;旅行&#34;</td>
          <td>&#34;郑州 金水区 科技大厦(计算中心家属院东)&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;09月20日 ~ 11月30日 每天08:00-23:30&#34;]</td>
          <td>&#34;镜头语言，我经历和不曾经历的艺术&#34;</td>
          <td>&#34;http://www.douban.com/event/22655976/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:721336bb1ea05191b2dee9e6af4157f9" target=_blank>http://www.douban.com/event/22646462/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22646462/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;戏剧-舞剧&#34;</td>
          <td>&#34;郑州 金水区 文化路任砦北街交叉口东50米联盛大厦B座一单元十楼十六号&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;09月19日 ~ 12月13日 每天14:30-17:30&#34;]</td>
          <td>&#34;生命之舞 秋收冬藏 ――舞动体验成长小组第三期&#34;</td>
          <td>&#34;http://www.douban.com/event/22646462/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:54414c4cef26c25f9b886d652c875ee7" target=_blank>http://www.douban.com/event/22640247/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22640247/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;其他&#34;</td>
          <td>&#34;郑州 中原区 陇海路桐柏路凯旋门大厦A座1502&#34;</td>
          <td>[&#34;免费&#34;]</td>
          <td>[&#34;09月18日 ~ 10月31日 每天08:00-23:30&#34;]</td>
          <td>&#34;100套智能家居免费样板房火热招募中&#34;</td>
          <td>&#34;http://www.douban.com/event/22640247/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:da4d415b94b69f96181ce035c3d62df9" target=_blank>http://www.douban.com/event/22640169/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22640169/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;其他&#34;</td>
          <td>&#34;郑州 二七区 郑大市场街9号楼38号&#34;</td>
          <td>[&#34;300元(写真（不包化妆师）)&#34;]</td>
          <td>[&#34;09月21日 ~ 11月21日 每天09:00-19:00&#34;]</td>
          <td>&#34;柘-studio 人像摄影拍摄活动即将开始  有意者请联系&#34;</td>
          <td>&#34;http://www.douban.com/event/22640169/&#34;</td>
          <td>
            {}
          </td>
        <tr>
          <td>
            <a class=url href="/task/douban:4ca1dfc9b05800f91ac720f5271afb22" target=_blank>http://www.douban.com/event/22639279/</a>
          </td>
          <td>
            <a class=open-url href="http://www.douban.com/event/22639279/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a>
          </td>
          <td>&#34;郑州&#34;</td>
          <td>&#34;讲座&#34;</td>
          <td>&#34;郑州 管城区 郑州市货站街120号&#34;</td>
          <td>[&#34;1280元(活动价格)&#34;]</td>
          <td>[&#34;09月20日 ~ 11月30日 每天09:00-18:00&#34;]</td>
          <td>&#34;家庭教育指导师&#34;</td>
          <td>&#34;http://www.douban.com/event/22639279/&#34;</td>
          <td>
            {}
          </td>
      </tbody>
    </table>

    <div class="pagination-wrap">
      <ul class="pagination">
        <li class="">
          <a href="/results?project=douban&offset=80&limit=20">&laquo;</a>
        </li>
          <li class="">
            <a href="/results?project=douban&offset=0&limit=20">1</a>
          </li>
          <li class="">
            <a href="/results?project=douban&offset=20&limit=20">2</a>
          </li>
        <li class="disabled"><a>…</a></li>
          <li class="">
            <a href="/results?project=douban&offset=80&limit=20">5</a>
          </li>
          <li class="active">
            <a href="/results?project=douban&offset=100&limit=20">6</a>
          </li>
          <li class="">
            <a href="/results?project=douban&offset=120&limit=20">7</a>
          </li>
          <li class="">
            <a href="/results?project=douban&offset=140&limit=20">8</a>
          </li>
          <li class="">
            <a href="/results?project=douban&offset=160&limit=20">9</a>
          </li>
          <li class="">
            <a href="/results?project=douban&offset=180&limit=20">10</a>
          </li>
        <li class="disabled"><a>…</a></li>
          <li class="">
            <a href="/results?project=douban&offset=14620&limit=20">732</a>
          </li>
          <li class="">
            <a href="/results?project=douban&offset=14640&limit=20">733</a>
          </li>
        <li class="">
          <a href="/results?project=douban&offset=120&limit=20">&raquo;</a>
        </li>
      </ul>
    </div>
  </body>
</html>